/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #2C2C2C;
    }
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #2C2C2C;
    }
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #2C2C2C;
    }
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #2C2C2C;
    }
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #2C2C2C;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #2C2C2C;
    }
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2C2C2C;
    }
    a:hover {
        color: #2A2A2A;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #2C2C2C;
    }
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #2C2C2C;
    }
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #2C2C2C;
    }
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #2C2C2C;
    }
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #2C2C2C;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #2C2C2C;
    }
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2C2C2C;
    }
    a:hover {
        color: #2A2A2A;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #2C2C2C;
    }
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #2C2C2C;
    }
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #2C2C2C;
    }
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #2C2C2C;
    }
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #2C2C2C;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #2C2C2C;
    }
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2C2C2C;
    }
    a:hover {
        color: #2A2A2A;
    }
    header {
        padding: 0px 0px 0px 0px;
    }
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
        padding: 10px 10px 0px 10px;
        background-color: thistle;
    }
    .navbar-nav {
        display: none;
    }
    .bars {
        display: block;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1024px) {
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #2C2C2C;
    }
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #2C2C2C;
    }
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #2C2C2C;
    }
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #2C2C2C;
    }
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #2C2C2C;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #2C2C2C;
    }
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2C2C2C;
    }
    a:hover {
        color: #2A2A2A;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {
    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #2C2C2C;
    }
    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        color: #2C2C2C;
    }
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #2C2C2C;
    }
    h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #2C2C2C;
    }
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #2C2C2C;
    }
    h6 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #2C2C2C;
    }
    a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #2C2C2C;
    }
    a:hover {
        color: #2A2A2A;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (max-width : 568px) {

}
 
/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {

}
 
/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

}
