@media only screen and (max-width : 1200px) {
    body {
        padding: 0;
    }

    /* Header */
    header {
        height: 100vh;
        padding: 0px 20px 10px 20px;
    }
    .navbar {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
        padding: 10px 10px 0px 10px;
        background-color: #FFFFFF;
    }
    .navbar-nav {
        display: none;
    }
/* 
    /* .bg-color::after {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        margin: 500px auto 0;
        background-color: #F1F3F7;
    } */ */
    .home-content {
        padding-top: 20px 0px 0px 190px;2
    }
    .home-content h1 {
        /* color: white; */
        color: #2A2A2A;
        font-size: 2.000em;
    }

    .home-content p {
        color: white;
        color: #2A2A2A;
        font-size: 0.875em;
    }

    .header-img {
        display: none;
    }

    .bars {
        display: block;
    }

    /* Feature */
    .feature {
        padding: 0px 10px 100px 10px;
    }

    .feature-header1 {
        display: block;
        font-size: 1.375em;
        font-weight: 300;
    }

    .featureContent .feature-header2 {
        display: none;
    }

    .featureContent p {
        /* padding: 20px 50px 0px 50px; */
        font-size: 0.875em;
        font-weight: 300;
        line-height: 45px;
    }

    /* Why Choose Invock */
    .wic {
        padding: 100px 20px 100px 20px;
    }
    .wic-content {
        margin-top: 30px;
        text-align: center;
    }

    /* sff */
    .sff {
        height: 100%;
        padding: 100px 20px 100px 20px;
    }

    /* Testimonials */
    .testimonials {
        height: 100%;
        padding: 100px 20px 100px 20px;
    }

    /* Blog */

    .blog {
        height: 100%;
        padding: 50px 20px 100px 20px;
    }

    .blog-content .card-body {
        padding: 50px;
    }

    .blog-content .card-body .card-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }

    .blog-content .card-body .card-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
    }

    .card {
        background-color: #F1F3F7;
        ;
        border-radius: 25px;
    }

    .card-img-top {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .blog-btn {
        border-radius: 40px;
    }

}

