* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 1.5;
}

h1 {
    font-family: 'Poppins';
    color: #2A2A2A;
    font-size: 2.750em;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h3 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h4 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h5 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h6 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.375em;
    color: #2A2A2A;
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2A2A2A;
}

a:hover {
    color: #2A2A2A;
}

.title {
    font-size: 2.250em;
    text-align: center;
}

.title::after {
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    margin: 10px auto;
    background-color: #6DD568;
}

.img-thumbnail {
    background-color: transparent;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #818181;
}

/* Header */

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 130px 0px 130px;
}

.navbar {
    background-color: transparent;
}

.bars {
    display: none;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.home-btn {
    width: 321px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    background: #E86111;
    box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(50, 50, 71, 0.08);
}

.home-btn:hover {
    color: #FFFFFF;
}

.home-content {
    padding: 100px 0px 0px 0px;
}

.home-content h1 {
    font-size: 2.750em;
    color: #2A2A2A;
    font-weight: 700;
}
.home-content p {
    font-weight: 300;
    font-size: 1.375em;
    color: #2A2A2A;
}

.bg-color {
    display: none;
}

.img-thumbnail {
    border: none;
}

/* Feature */

.feature {
    height: 100%;
    padding: 90px 130px 0px 130px;
}

.feature-content {
    padding-top: 140px;
}

.feature-header1 {
    display: none;
}

.featureContent {
    text-align: center;
    padding-top: 80px;
}


.featureContent h2 {
    font-size: 1.875em;
    font-weight: 700;
}

.featureContent p {
    padding: 20px 50px 0px 50px;
    font-size: 1.500em;
    font-weight: 300;
    line-height: 45px;
}

.featureContent2 {
    text-align: center;
    padding: 180px 0px 0px 200px;
}

.featureContent2 h2 {
    font-size: 1.875em;
    font-weight: 700;
}

.featureContent2 p {
    padding: 20px 50px 0px 50px;
    font-size: 1.500em;
    font-weight: 300;
    line-height: 45px;
}



/* More Feature */

.moreFeature {
    height: 100%;
    padding: 200px 0px;
}

.moreFeature-Content {
    width: 100%;
    height: 329px;
    background-color: #F1F3F7;
    border-radius: 40px;
}

.carousel {
    border-radius: 40px;
    padding: 30px 60px 30px 60px;
    background-color: #F1F3F7;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.featureImg {
    padding-left: 20%;
}

.featureContent {
    padding-right: 20%;
}

.featureImg1 {
    padding: 10% 0 10% 14%;
}

.featureContent1 {
    padding-left: 30%;
}

/* Why Choose Invock */

.wic {
    height: 100%;
    padding: 100px 230px 100px 230px;
}

.wic-content {
    width: 100%;
    border-radius: 40px;
    padding: 30px 10px 10px 30px;
    background-color: #F1F3F7;
}

/* Some Fun Fact */
.sff {
    height: 100%;
    padding: 100px 230px 100px 230px;
}

.sff-content {
    width: 100%;
    border-radius: 40px;
    padding: 30px 10px 10px 30px;
    background-color: #F1F3F7;
}

.sff-content {
    height: 100%;
}

.progress {
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
}
.barOverflow { 
    position: relative;
    overflow: hidden;
    width: 90px;
    height: 45px;
    margin-bottom: -14px;
}
.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid #eee;
    border-bottom-color: #0bf;
    border-right-color: #0bf;
}


/* Testimonials */

.testimonials {
    height: 100%;
    padding: 100px 230px 100px 230px;
}

/* Blog */

.blog {
    height: 100%;
    padding: 100px 230px 100px 230px;
}

.blog-content .card-body {
    padding: 50px;
}

.blog-content .card-body .card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.blog-content .card-body .card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.card {
    background-color: #F1F3F7;
    ;
    border-radius: 25px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.blog-btn {
    border-radius: 40px;
}

/* Contact Us */

.footer {
    height: 100%;
    padding: 100px 230px 100px 230px;
}

#contact {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 200px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
}

.contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 800px;
}

/* Begin Left Contact Page */

.form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control, textarea {
    max-width: 400px;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */

.direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
}

/* Location, Phone, Email Section */

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

/* Social Media Icons */

.social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    line-height: 70px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #111;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .8);
    ;
}

/* Begin Media Queries*/

@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
    .section-header {
        font-size: 65px;
    }
    .direct-contact-container, .form-horizontal {
        float: none;
        margin: 10px auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    #contact {
        height: 1200px;
    }
    .section-header {
        font-size: 50px;
    }
    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control, textarea {
        max-width: 340px;
        margin: 0 auto;
    }
    .name, .email, textarea {
        width: 280px;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}