* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 1.5;
}

h1 {
    font-family: 'Poppins';
    color: #2A2A2A;
    font-size: 2.750em;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h3 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h4 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h5 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

h6 {
    font-family: 'Poppins';
    color: #2A2A2A;
}

p {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.375em;
    color: #2A2A2A;
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2A2A2A;
}

a:hover {
    color: #2A2A2A;
}

.title {
    font-size: 2.250em;
    text-align: center;
}

.title::after {
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    margin: 10px auto;
    background-color: #6DD568;
}

.img-thumbnail {
    background-color: transparent;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #818181;
}

.carousel {
    border-radius: 40px;
    padding: 30px 60px 30px 60px;
    background-color: #F1F3F7;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}


/* Main Button */

.main-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #6195FF;
    color: #FFF;
}

.main-btn:hover {
    opacity: 0.8;
}


/* Header */

header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 130px 0px 130px;
}

.navbar {
    background-color: transparent;
}

.bars {
    display: none;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.home-btn {
    width: 321px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    background: #E86111;
    box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(50, 50, 71, 0.08);
}

.home-btn:hover {
    color: #FFFFFF;
}

.home-content {
    padding: 100px 0px 0px 0px;
    text-align: center;
}

.home-content h1 {
    font-size: 2.750em;
    color: #2A2A2A;
    font-weight: 700;
}

.home-content p {
    font-weight: 300;
    font-size: 1.375em;
    color: #2A2A2A;
}


/* Hidden Header */

.img-thumbnail {
    border: none;
}

.bg-color {
    display: none;
}

.bg-btn {
    display: none;
}


/* Feature */

.feature {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px 130px;
}

.feature-container {
    padding: 40px 0px 0px 0px;
}

.feature-container2 {
    text-align: right;
}

.feature-content {
    text-align: center;
}

.feature-content h2 {
    padding-bottom: 20px;
    text-align: center;
}

.feature-header1 {
    display: none;
    padding-bottom: 30px;
}

.featureContent {
    text-align: center;
    padding-top: 80px;
}

.featureContent h2 {
    font-size: 1.875em;
    font-weight: 700;
}

.featureContent p {
    padding: 20px 50px 0px 50px;
    font-size: 1.500em;
    font-weight: 300;
    line-height: 45px;
}

.featureContent2 {
    text-align: center;
    padding: 180px 0px 0px 200px;
}

.featureContent2 h2 {
    font-size: 1.875em;
    font-weight: 700;
}

.featureContent2 p {
    padding: 20px 50px 0px 50px;
    font-size: 1.500em;
    font-weight: 300;
    line-height: 45px;
}


/* More Feature */

.moreFeature {
    height: 100%;
    padding: 100px 0px;
}

.moreFeature-Content {
    width: 100%;
    height: 329px;
    background-color: #F1F3F7;
    border-radius: 40px;
}


/* Why Choose Invock */

.wic {
    height: 100%;
    padding: 50px 30px;
}

.wic-header-content {
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.wic-content {
    width: 300px;
    border-radius: 40px;
    height: 300px;
    padding: 30px 30px 10px 30px;
    background-color: #F1F3F7;
}

.wic-content img {
    padding-bottom: 30px;
}

.wic-content  h3 {
    font-size: 20px;
}


/* Some Fun Fact */

.sff {
    height: 100%;
    padding: 50px 30px;
}

.sff-content {
    width: 100%;
    border-radius: 40px;
    padding: 30px 10px 10px 30px;
    background-color: #F1F3F7;
}

.sff-content {
    height: 100%;
}

.sff-p {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    font-family: 'Poppins';
    padding: 20px 0px 20px 0px;
}

/* Testimonials */

.testimonials {
    height: 100%;
    padding: 100px 50px 100px 50px;
}

.testimonials .container > p {
    padding: 20px 0 20px 0;
}

.testimonialsView {
    display: none;
}

.test-content {
    width: 100%;
    border-radius: 40px;
    height: 100%;
    text-align: center;
    padding: 30px 30px 10px 30px;
    background-color: #F1F3F7;
}

.test-content img {
    border-radius: 50%;
    padding-bottom: 30px;
}

.test-content h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins';
}

.test-content h4 {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins';
}

.test-content p {
    font-size: 15px;
    font-weight: 300;
    color: #2A2A2A;
    font-family: 'Poppins';
}
/* Blog */

.blog {
    height: 100%;
    padding: 100px 130px 100px 130px;
}

.blog-content .card-body {
    padding: 50px;
}

.blog-content .card-body .card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.blog-content .card-body .card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.card {
    background-color: #F1F3F7;;
    border-radius: 25px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.blog-btn {
    border-radius: 40px;
}


/* Contact us */

.contact {
    margin: 15px 0px;
    text-align: center;
    height: 100%;
}

.contact i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}

.contact-form .input:nth-child(1),
.contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}


/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
    position: relative;
}

.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #6195FF;
    color: #FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}