* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 1.5;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #2C2C2C;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #2C2C2C;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #2C2C2C;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #2C2C2C;
}

h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #2C2C2C;
}

h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #2C2C2C;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}

a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2C2C2C;
}

a:hover {
    color: #2A2A2A;
}


/* Header */
header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 112px 0px 112px;
}

.navbar {
    background-color: transparent;
}

.bars {
    display: none;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    color: #f1f1f1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.home-btn {
    width: 321px;
    height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    background: #E86111;
    box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06), 0px 4px 4px rgba(50, 50, 71, 0.08);
}

.home-btn:hover {
    color: #FFFFFF;
}

.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30%;
    right: 0;
    z-index: -1;
}

/* Feature */

.feature {
    height: 100%;
    padding: 20px;
}

.title {
    text-align: center;
}

.title::after {
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    background-color: #6DD568;
}

.moreFeature {
    height: 100%;
    padding: 100px 0px;
}

.moreFeature-Content {
    width: 100%;
    height: 329px;
    background-color: #F1F3F7;
    background-color: #818181;
    border-radius: 40px;
}

/* Why Choose Invock */

.wic {
    height: 100%;
    padding: 100px 0px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #818181;
}

/*  */
.blog {
    height: 100%;
    padding: 100px 0px;
}

/* Blog */
.card {
    background-color: #F1F3F7;;
    border-radius: 25px;
}

.card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.blog-btn {
    border-radius: 40px;
}